@import "src/app/scss/variables";

table {
  &.dataTable {
    border-radius: 1.25rem;
    color: #000;
    background-color: #fff;

    thead {
      th {
        border-bottom: 1px solid #eee;
        border-top: none;
        color: $main-color;
        text-transform: capitalize;
        font-size: 14px;
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.data-table {
  &-header {
    background-color: #fff;
    display: flex;
    padding: 24px;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 5px;
  }
}



