<div class="data-table">
  <ng-container *ngIf="showTopContainer">
  <div class="data-table-header">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="data-table-search">
    <ng-content select="[search]"></ng-content>
  </div>
  </ng-container>
  <table class="table dataTable">
    <thead>
    <tr>
      <th *ngFor="let key of colData">
        {{key.header}}
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let row of rowData; let i= index">
      <td *ngFor="let key of colData">
        <span *ngIf="key.field !== 'status'">{{row[key.field]}}</span>
        <nb-toggle status="success" *ngIf="key.field ==='status'"></nb-toggle>
      </td>
    <td *ngIf="tableControls">
      <table-controls [deleteLabel]="deleteLabel"
                      [showDelete]="showDelete"
                      [showUpdate]="showUpdate"
                      [showView]="showView"
                      [updateLabel]="updateLabel"
                      [viewLabel]="viewLabel"
                      [viewLink]="viewLink"
                      [id]="row.id ? row.id : i + 1"

      ></table-controls>
    </td>
    </tbody>
  </table>
</div>
