.change-password-header {
  border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.change-password-form {
  margin-top: 2em;

  label {
    display: block;

    span {
      color: red;
    }
  }

  .field {
    margin-bottom: 1em;
  }
}
