<div class="change-password-header">
  <h6>Change Password</h6>
  <p>Please enter your current password and the new one !</p>
</div>

<div class="change-password-form">
  <form #changePasswordForm="ngForm">
    <div class="field">
      <label class="form-label" for="currentPassword">Current Password <span>*</span> </label>
      <input nbInput shape="semi-round"  type="password" id="currentPassword" name="currentPassword" required>
    </div>
    <div class="field">
      <label for="newPassword">New Password <span>*</span></label>
      <input nbInput shape="semi-round" type="password" id="newPassword" name="newPassword" required>
    </div>
    <button  nbButton status="primary" type="submit">Change Password</button>
  </form>
</div>
