nb-card {
  &-body {
    display: flex;

    .card-img {
      width: 100%;
      max-width: 300px;
      margin-right: 1.5em;
      @media (max-width: 575.98px) {
        max-width: none;
        margin-right: 0;
        margin-bottom: 1.5em;
      }

      img {
        width: 100%;
      }
    }
  }
}
