<div class="table-controls">
  <button class="click" [nbPopover]="templateRef" [nbPopoverPlacement]="'bottom'" [nbPopoverTrigger]="'click'">
    <nb-icon icon="more-vertical-outline"></nb-icon>
  </button>

  <ng-template #templateRef>
    <div class="click-controls">
      <a [routerLink]="[id,viewLink]" class="eye" *ngIf="showView">
        <nb-icon icon="eye-outline"></nb-icon>
        <span>{{viewLabel}}</span>
      </a>
      <a href="" class="edit" *ngIf="showUpdate">
        <nb-icon icon="edit-2-outline"></nb-icon>
        <span>{{updateLabel}}</span>
      </a>
      <a href="" class="trash" *ngIf="showDelete">
        <nb-icon icon="trash-2-outline"></nb-icon>
        <span>{{deleteLabel}}</span>
      </a>
    </div>
  </ng-template>
</div>
